*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__menu-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img{
    width: 100px;
    height: 80px;

}

.header__img img{
    width: 100%;
    height:auto;
}

.header__menu-list{

}

.header__menu-item{
    display:inline-block;
}

