*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000
}

header{
    position:fixed;

}

.header__menu-top{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img{
    width: 80px;
    height: 80px;

}

.header__img img{
    width: 100%;
    height:auto;
}

.header__menu-list{
    list-style: none;
    
}

.header__menu-item{
    display:inline-block;
    margin-left: 20px;
}

.header__menu-item a{
    text-decoration: none;
    letter-spacing: 1px;
}

