.header__menu-ui{

    color: black !important;
    position: relative;
    background-color: white;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

.header__menu-ui li a{
    text-decoration: none;
    color: black;
}

