.header__menu-ui{
    padding: 50px;
    color: black !important;
    position: fixed;
    background-color: white;
    top: 40px;
    left: 1000px;
    right: 0;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    display: none;
    
}

@keyframes menuUl

.header__menu-ui a{
    font-size:30px;
    text-decoration: none;
    padding: 20px;
    color: black;
}

.header__menu-ui li{
    margin-bottom: 20px
}

@media only screen and (max-width: 740px){
    .header__menu-ui{
        display: block;
    }


}