.header__menu-ui{
    color: black !important;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header__menu-ui li a{
    text-decoration: none;
    color: black;
}

